// Site Themes, Colors, Etc.
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Merriweather|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Hammersmith+One|Merriweather|Permanent+Marker');



$PageColor: #fff7ef;
$primaryBackgroundColor: #272728;
$primaryFontColor: #1e1d1d;
$navColor: #ffa23f;

$primaryFont: 'Merriweather', serif;
$secondaryFont: 'Hammersmith One', sans-serif;


body {
    background: $PageColor;
    color: $primaryBackgroundColor;
}

h1 {
    flex-direction:column;
    text-align: center;
}

h2 {
    font-size: 3em;
    padding: 3em 0 1em 0;
}

.navBar {
    background-color: $navColor;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    /* max-height: 80px; */
}

.logo {
    background-image: url('../images/jj-daurora-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    margin: .5em 0;
}

.wrapper {
    margin: auto;
    max-width: 960px;
    padding: 0 2%;
}

nav ul {
    display: flex;
    font-family: 'Hammersmith One', sans-serif;
    justify-content: space-evenly;
    list-style-type: none;
    width: 40%;
}

nav ul a {
    color: $primaryFontColor;
    text-decoration: none;
    transition: all .5s ease;
}

nav ul a:hover {
    color: #903749;
}

nav li {
    display: inline-block;
}

nav #menu-toggle {
    display: none;
}

nav .label-toggle {
    display: none;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {


    nav nav ul a {
        color: #53354A;
    }
    nav ul {
        background-color: #E84545;
        display: block;
        position: fixed;
        right: 0;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        transition: all 1s ease;
        width: 100%;
        visibility: hidden;
    }
    nav li {
        border-bottom: 2px solid #53354A;
        color: #53354A;
        display: block;
        font-size: 1.5em;
        padding: 2em 0;
    }
    nav #menu-toggle:checked~ul {
        opacity: 1;
        height: 100vh;
        visibility: visible;
        
    }
    nav .label-toggle {
        background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
        cursor: pointer;
        display: block;
        float: right;
        height: 35px;
        width: 35px;
    }

    nav .wrapper {
        display: block;
     
    }
 
}
